<html>
  <head>
    <style></style>
  </head>
  <body>
    <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif">
      User Details
    </h1>
    <table
      border="1"
      bordercolor="white"
      bgcolor="black"
      cellpadding="30px"
      style="
        color: white;
        margin: 30px auto;
        font-family: Arial, Helvetica, sans-serif;
      "
    >
      <tr>
        <th>S.NO.</th>
        <th>Full Name</th>
        <th>Password</th>
        <th>User Name</th>
        <th>Contact Number</th>
        <th>Gender</th>
      </tr>
      <% for(var i=0; i < result.length; i++) { %>
      <tr>
        <td><%= result[i].id %></td>
        <td><%= result[i].name %></td>
        <td><%= result[i].password %></td>
        <td><%= result[i].username %></td>
        <td><%= result[i].contact %></td>
        <td><%= result[i].gender %></td>
      </tr>
      <% } %>
    </table>

    <!-- <% for(var i=0; i < result.length; i++) { %>
        <tr>
        <td style="font-size:20px">ID : <%= result[i].id %></td><br><br>
        <td>Name : <%= result[i].name %></td><br>
        <td> Password : <%= result[i].password %></td><br>
        <td>Username : <%= result[i].username %></td><br>
        <td>Contact : <%= result[i].contact %></td><br>
        <td>gender : <%= result[i].gender %></td><br>
        </tr><br>
        <hr>
        <% } %> -->
    <!-- <br>
        <a href="/" class="button">
            Home
        </a> -->
  </body>
</html>
